/* begin header*/

.main-header {
     background-color: #13325E;
    border-top: 10px solid #000;
}
.no-padding{
    padding: 0px;
}

.business-text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    margin-top: -60px;
    margin-left: 0px;
    opacity: 0.9;
}
a{
    cursor: pointer;
}
.header-icons .fa-tasks, .header-icons .fa-bell-o  {
    color: #fff;
    font-size: 25px;
    margin-top: 29px;
}
.header-icons {
    text-align: right;
}
.header-icons span {
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-icons img {
    width: 25px;
    height: 25px;
    margin-top: -11px;
    text-align: right;
}

a {
    color: #fff;
}
.icon{
    margin-top: -px;
}
.fa-close{
    display: none;
}

.modal-open {
    overflow: hidden;
    width: calc(100% - 17px);
    width: -moz-calc(100% - 16px);
}
/* over header*/

/*begin header notifications script*/

.settings-section{ display: none;position: relative;position: absolute; top: 24px;background-color:#d9e6f9;padding: 0px;width: 100%;list-style: none; z-index: 9999; width: 350px; right: 0px; border-radius: 5px;}
.notifications-section{ display: none;position: relative;position: absolute; top: 31px;background-color:#d9e6f9;padding: 0px;width: 100%;list-style: none; z-index: 9999; width: 350px; right: -5px; border-radius: 5px;}
.account-section{ display: none;position: relative;position: absolute; top: 30px;background-color:#d9e6f9;padding: 0px;width: 100%;list-style: none; z-index: 9999; width: 350px; right: -4px; border-radius: 5px;}

.settings-section .fa-caret-up{position: absolute;top: -20px;color:#d9e6f9;font-size: 32px;left: 320px;}
.notifications-section .fa-caret-up{position: absolute;top: -20px;color:#d9e6f9;font-size: 32px;left: 318px;}
.account-section .fa-caret-up{position: absolute;top: -20px;color:#d9e6f9;font-size: 32px;left: 325px;}

.notifications-section .fa-exclamation-triangle {color: red;}
.notifications-section .fa-exclamation-circle {color: dodgerblue;}

.settings-section .active , .notifications-section .active, .account-section .active{background-color: #7993b6;}
.settings-section li, .notifications-section li, .account-section li{padding: 1px 20px 1px 22px; margin-top: 6px;}
.settings-section h4, .notifications-section h4, .account-section h4{padding: 1px 20px 1px 22px; font-size: 18px; font-weight: bold;text-align: left;}
.settings-section li:hover, .notifications-section li:hover, .account-section li:hover{padding: 1px 20px 1px 22px; background-color:#a5b6cd; }
.notification-hr-line:hover{ background-color:#a5b6cd; }
.settings-section li a, .notifications-section li a, .account-section li a{color: #000;text-decoration: none; }

.notification-anchor {color:#1972c9 !important}

.notifications-bg {background: #fff; border: 10px solid #d9e6f9;}
.notifications-bg .notification-hr-line{border-bottom: 1px solid #F2F2F2; text-align: left;}

@media (max-width:1024px){
    .settings-section, .notifications-section, .account-section{
        display: none;position: relative;position: absolute; background-color:#d9e6f9;padding: 0px;width:314px;list-style: none; z-index: 9999; right: -32px;top:28px;
    }
}
@media (max-width:1024px){
    .settings-section li{
        margin-top: 5px; 
    }
}

 /*over header notifications script*/
/*begin header-menu*/

.header-menu {
    background-color: #264878;
    margin: 0px;
    padding: 0px;
    color: #FFF;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
    float: left;
  padding: 0px 3px;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 25px 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}



ul.topnav li.icon {display: none;}
.topnav .active, ul.topnav li a:hover{
    background-color:#3bc1c5;
}
.header-logo {
    height: 99px;
}

/*begin mediaqueries*/

@media screen and (max-width:1024px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1024px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (min-width:360px) and (max-width:1024px){
    .business-text{
        color: #fff;
        font-size: 16px;
        position: absolute;
        margin-top: -22px;
        margin-left: 0px;
        opacity: 0.8;
    }
}
@media screen and (min-width:0px) and (max-width:1024px){
    ul.topnav li a{
        padding: 5px 20px 0px 8px;
    }
}
@media (max-width:1024px){
    .topnav li{
        font-size:0px;
    }
} 
@media (max-width:1024px){
    .header-icons i, .main-header div{
        font-size:20px;        
       
    }
}
.row{
    margin-right: 0px;
    margin-left:  0px;
}
.container{
    padding: 0px;
}
/*begin mediaqueries*/
.read-unread{top: 30px; }
.read-unread span a{color:#000; text-decoration: none; padding: 6px;}
.read-unread span a:hover{color: #000; text-decoration: none;}
.see-all-notifications a{color: red; }
.notification-hr-line .fa-times{color: #000;font-size: 15px;right: 5px;position: relative;}

/**Bg Color code*/
.blue-bg {
    background: #b8d1f5;
}
.panel-primary>.panel-heading {
    background-color: #3e6eb2;
    border-color: #3e6eb2;    
}
.panel-heading{
    padding: 1px 0px 0px 0px;
}
.confirm-modal .modal-header {
    background: #1f58a9;
    color: #fff;
}
.confirm-modal .modal-header h4 {
    padding: 7px;
    text-align: center;
    font-size: 20px;
}
.confirm-modal .modal-header .close{
    color : #fff;
}
.confirm-modal .modal-content{
    border: 0px;
    border-radius: 0px;
}
.confirm-modal .modal-dialog {
    width: 33%;
}
.confirm-modal  .modal-footer{
    padding: 8px;
}

.btn-btn3 {
    background: #128c8f;
    padding: 6px 18px;
    color: #fff;
}
.btn-btn3:hover {
    background: #2fa0a2;
    color: #fff;
}
.modal-header{padding: 0px !important; border-bottom: 0px !important}
.modal-header .close{margin-top: 5px;/*background-color: #d44343;*/opacity: 2;padding: 10px;/*border-radius: 100%;border: 2px solid #fff;*/ line-height: 13px;color: #000; margin-right: 7px;}
.effect-for-read-unread-tabs{background-color: skyblue;} 

@media(max-width:1024px){.header-icons .fa-tasks, .header-icons .fa-bell-o{margin-top:11px; }}
@media(max-width:1024px){.header-logo {left: 49px;position: relative}}
